*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Definizione font*/
@font-face {
    font-family: 'PixelFont';
    src: url('Font/PixelifySans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bubble';
    src: url('Font/BubblegumSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Chicle';
    src: url('Font/Chicle-Regular.ttf') format('truetype');
}

/* Stile per l'intestazione */
h1{
    color: 	#444c72; /* Colore del testo */
    font-size: 60px; /* Dimensione del carattere */
    text-align: center;
    font-family: 'PixelFont', sans-serif;  
}

/* Stile per i paragrafi */
p{
    color:	#4d6f7c; /* Colore del testo */
    font-size: 20px; /* Dimensione del carattere */
    margin-bottom: 30px; /* Margine inferiore */
    margin-top: 30px;
    text-align: center;
}

 /* Regole generiche */
body{
    padding: 16px;
    line-height: 1;
    color: rgb(0, 23, 50);
    background-color: #df9390;
    font-family: 'Bubble', sans-serif;
    text-align: center;
 }

 /* Stili per il footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
  
 /* Pannello*/

.button{
    border: 2px solid rgb(0, 23, 50);
    font-size: 40px;
    font-family: 'Chicle', sans-serif;
    text-transform: uppercase;
    padding: 4px 20px 4px 20px;
    cursor: pointer;
    text-align: center;	
    background-color: #ac9d9e;
    border-radius: 8px;    
}

.button:hover{
    background-color: #6c868f;
}

.box{ animation: rotate 2s linear infinite;
}
@keyframes rotate{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button-rotation {
    border: 10px solid #4d6f7c;
    padding: 8px;
    background-color: #df9390;
    border-radius: 10px;
    position: absolute;
}

.rotation-upr {
    top: 20px;
    right: 20px;
}

.rotation-upl {
    top: 20px;
    left: 20px;
}

.rotation-downr,
.rotation-downl {
    bottom: 50%;
}

.rotation-downr {
    right: 20px;
}

.rotation-downl {
    left: 20px;
}

.footer-text{
    background-color: #4d6f7c;
    color: #df9390;
    padding: 20px;
}