*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Definizione font*/
@font-face {
    font-family: 'PixelFont';
    src: url('Font/PixelifySans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bubble';
    src: url('Font/BubblegumSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Chicle';
    src: url('Font/Chicle-Regular.ttf') format('truetype');
}

/* Stile per l'intestazione */
h1{
    color: 	#444c72; /* Colore del testo */
    font-size: 60px; /* Dimensione del carattere */
    text-align: center;
    font-family: 'PixelFont', sans-serif;  
}

 /* Regole generiche */
body{
    color: rgb(0, 23, 50);
    background-color: #df9390;
    text-align: center;
 }

 /* Stili per il footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
  
 /* Pannello*/

.button{
    border: 2px solid rgb(0, 23, 50);
    font-size: 40px;
    font-family: 'Chicle', sans-serif;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    cursor: pointer;
    text-align: center;	
    background-color: #ac9d9e;
    border-radius: 8px;    
}

.button:hover{
    background-color: #6c868f;
}

.button-rotation {
    border: 10px solid #4d6f7c;
    padding: 8px;
    background-color: #df9390;
    border-radius: 10px;
    position: absolute;
}

.footer-text{
    background-color: #4d6f7c;
    color: #df9390;
    padding: 20px;
}

.form{
    background: #FFFFFF;
    padding: 10px;
    width: 100%;
    border: 1px solid #000000;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}