/* Stile per l'intestazione */
h1 {
    color: #28dc61; /* Colore del testo */
    font-size: 4px; /* Dimensione del carattere */
}

/* Stile per i paragrafi */
p {
    color:rgb(112, 21, 21); /* Colore del testo */
    font-size: 16px; /* Dimensione del carattere */
    margin-bottom: 10px; /* Margine inferiore */
}
 /* Regole generiche */
body{
    padding: 16px;
    line-height: 1;
    color: rgb(0, 23, 50);
    background-color: rgb(186, 186, 43);
    font-family: 'Darker Grotesque', sans-serif;
 }

.game-container{
    width: 484px;
    border: 1px dashed black;
 }

 /* Pannello di gioco */
h1{
    font-size: 40px;
}

.score{
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

/* Tabellone di gioco */
.game-board{
    position: relative;
    border: 2px solid rgb(0, 23, 50);
}

.grid{
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap; /*puoi andare a capo*/
    align-content: flex-start;
}

.cell{
    width: 48px;
    height: 48px;
    /* border: 1px dashed black; */
    cursor: pointer;
}

.cell-dark{
    background-color: aquamarine;
}

.cell-bomb{
    background-color: burlywood;
    background-image: url('images/DSCF1121.JPG');
    background-size: contain;
}

.cell-clicked,
.cell-bomb{
    cursor: not-allowed;
}

/* Schermata di fine gioco */
.end-game-screen{
    background-color: rgba(31, 243, 169, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.win{
    background-color: green;

}

.end-game-text{
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 16px;
}

button{
    border: 2px solid rgb(112, 21, 21);
    font-size: 24px;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
    padding: 4px 20px 8px 20px;
    cursor: pointer;

}

button:hover{
    background-color: rgb(218, 218, 22);
}

.hidden{
    display: none;
}

