*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Definizione font*/
@font-face {
    font-family: 'PixelFont';
    src: url('Font/PixelifySans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bubble';
    src: url('Font/BubblegumSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Chicle';
    src: url('Font/Chicle-Regular.ttf') format('truetype');
}

/* Stile per l'intestazione */
h1{
    color: #2a8d39; /* Colore del testo */
    font-size: 24px; /* Dimensione del carattere */
}
/* Stile per i paragrafi */
p{
    color:rgb(112, 21, 21); /* Colore del testo */
    font-size: 16px; /* Dimensione del carattere */
    margin-bottom: 10px; /* Margine inferiore */
}
 /* Regole generiche */
body{
    padding: 16px;
    line-height: 1;
    color: rgb(0, 23, 50);
    background-color: rgb(232, 238, 216);
    font-family: 'Chicle', sans-serif;
 }
.game-container{
    width: calc(48px * 9);
    /* border: 1px dashed black; */
 }
 /* Pannello di gioco */
 h1{
    font-size: 40px;
 }
.score{
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}
/* Tabellone di gioco */
.game-board{
    position: relative;
    border: px solid rgb(0, 23, 50);
    margin-bottom: 8px;
}
.grid{  
    width: calc(48px * 9);
    height: calc(48px * 9);
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-start; */    
}
.cell{
    width: 48px;
    height: 48px;
    border: 1px dashed black;
    cursor: pointer;
    background-size: contain; /*cosi contengo le immagini nelle celle*/
}
.cell-dark{
    background-color: rgb(203,224,221);
}
.bar {
    background-color: rgb(241,117,78);
    border: 2px solid black;
    border-radius: 8px;
}
.cell:hover,
.cell-clicked{
    background-color: rgb(157,197,199);
}
.cell-bomb{
    /* background-color: rgb(241,117,78); */
    background-image: url('images/bomba.png');
    background-size: contain;
}
.cell-clicked,
.cell-bomb{
    cursor: not-allowed;
}
/* Schermata di fine gioco */
.end-game-screen{
    background-color: rgba(241, 117, 78, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.end-game-text {
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Per centrare il testo orizzontalmente */
}
.win{
    background-color: rgba(78,241,187,0.6);
}
.button{
    border: 2px solid rgb(0, 23, 50);
    font-size: 24px;
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: uppercase;
    padding: 4px 20px 4px 20px;
    cursor: pointer;
} 
.button:hover{
    background-color: rgb(184, 180, 182);
}
.button-full{
    width: 432px;
}
.river{
    background-color: lightskyblue;
}
.road{
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    background-color: gray;
}
.wood{
    background-image: url('images/trampoline.png');
}
.bus{
    background-image: url('images/bus.png');
}
.car{
    background-image: url('images/car.png');
}
.duck{
    background-image: url('images/duck\ \(1\).png');
}
.duck-arrived{
    background-image: url('images/duck.png');
}
.duck-hit{
    background-image: url('images/chicken-leg.png');
}

.time-over{
    background-image: url('images/tombstone.png');
}

.duck-drowned{
    background-image: url('images/sos.png');
}
.river-duck{
    background-image: url('images/rubber-duck.gif'), url('images/forest.png');
}
.hidden{
    display: none;
}